@keyframes kirby {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.animation {
  display: flex;
  justify-content: flex-start;
}

.animation__image {
  animation-name: kirby;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  width: 20%;
}
