@keyframes kirby {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes kirbyFlipped {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animation {
  position: relative;
}

.animation__image {
  animation-name: kirby;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  width: 20%;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.animation__image-flipped {
  animation-name: kirbyFlipped;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  width: 20%;
}
