.header__title {
  font-size: 100px;
  color: white;
  font-family: "Dancing Script", serif;
  margin: 45px auto 100px;
}

/* .header__subtitle {
  font-size: 25px;
  color: white;
  font-family: "Georgia", serif;
  margin: 20px auto 0;
} */
