.header {
  margin-bottom: 50px;
}

.header__title {
  font-size: 100px;
  color: white;
  font-family: "Dancing Script", serif;
  margin: 45px auto 25px;
}

.header__subtitle {
  font-size: 50px;
  font-weight: 500;
  color: white;
  font-family: "Protest Riot", serif;
  margin: auto;
}
